<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Generateur de facture</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script> -->
	<script src="./js/app.js" defer></script>
	<script src="https://unpkg.com/vue@3"></script>
	<!---->
	<script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.7/dist/html2canvas.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jspdf-html2canvas@latest/dist/jspdf-html2canvas.min.js"></script>
</head>

<body>
	<div id="app">
		<form class="form-style-9">
			<div style="display: flex;">
				<div
					style="background-color: white;width:35%;border-radius: 15px;box-shadow:2px 5px 15px rgba(0, 0, 0, 0.11);padding:20px;display:flex;align-content: center;flex-direction: column;align-items: center;">
					<div style="display: flex;align-items:center;">
						<input style="display: none;" type="file" id="imageInput" @input="HandleInput" />
						<img name="Logo" id="Logo" class="logo" src="./image/logo.jpg" @click="TriggerClick"
							style="border: 1px solid #4e66f8;" />
						<img src="image/close.png" style="margin-left: 10px;" @click="deleteImage" class="deleteIconPhoto hideM" />
						<img src="./image/eye.png" style="margin-left: 10px;" @click="handleDisabledImage" title="enable" class="iconForm eye" />
					</div>
					<div style="width: 20vw;margin-left: auto;margin-right: auto;" class="B2">
						<label for="Facture"> </label>
						<input type="text" name="Facture" style="font-size: 35px; border: 2px solid #4e66f8"
							id="Facture" v-model="Facture" class="form-control" placeholder="Facture" />

						<label for="Referance"> </label>
						<input type="text" style=" border: 2px solid #4e66f8" name="Referance" class="form-control"
							id="Referance" v-model="Referance" placeholder="Référence (FAC-0001)" />
					</div>
				</div>
				<div id="descs"
					style="margin-left:20px;box-sizing: content-box;padding:40px;background-color: white;border-radius: 15px;box-shadow:2px 5px 15px rgba(0, 0, 0, 0.11);height:440px;width:62%;">
					<h2 style="text-align: center;margin-bottom: 30px;font-weight: bold;font-size: 35px;">Générateur de
						facture et devis gratuit</h2>
					<h3>Remplissez les champs</h3>
					<p>Ajoutez vos informations de paiement ainsi que toute autre information importante pour votre
						client. Vous pouvez par
						exemple préciser la méthode de paiement à privilégier.</p>
					<h3>Aperçu</h3>
					<p>Cliquez sur “Aperçu” afin de voir à quoi ressemble votre facture avant de l’envoyer ; nous sommes
						certains que vous
						allez l’aimer.
						Nous avons passé des années à développer et à améliorer le design de nos modèles de factures de
						manière à ce qu’ils
						soient intuitifs, pratiques à utiliser, mais surtout professionnels.</p>
					<h3>Téléchargez votre PDF</h3>
					<p>Une fois satisfait(e) de l’aperçu de votre facture, c’est le moment de la télécharger au format
						pdf. Vous n’avez plus
						ensuite qu’à l’envoyer à votre client !</p>
				</div>
			</div>

			<div style="justify-content: space-around;" class="d-flex mt-5">
				<div id="clientSide" class="B3">
					<div class="BB" style="margin-bottom: 20px;">
						<h5>Détails du client</h5>
					</div>
					<div style="width: 40vw;padding-left: 20px;padding-right: 20px;margin-left: auto;margin-right: auto;"
						class="mt-2 mb-2 d-flex align-items-center">
						<label for="sociale" class="labelForm">Raison sociale : </label>
						<input type="text" class="form-control inputForm" name="sociale" id="sociale" v-model="sociale"
							placeholder="Raison sociale" />
						<img src="./image/eye.png" @click="handleDisabled" title="enable" class="iconForm eye" />
					</div>

					<div style="width: 40vw;padding-left: 20px;padding-right: 20px;margin-left: auto;margin-right: auto;"
						class="mt-2 mb-2 d-flex align-items-center">
						<label for="fiscale" class="labelForm">Matricule fiscale :</label>
						<input @input="verifyMatricule" type="text" class="form-control inputForm" name="fiscale"
							id="fiscale" v-model="fiscale" placeholder="Matricule fiscale"
							style="margin-right: auto;" />
						<svg id="verify" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							version="1.1" id="Capa_1" x="0px" y="0px" height="25" width="25"
							style="fill:#20d43b;display: none;margin-left: 4px;" viewBox="0 0 288.941 288.941"
							style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
							<g>
								<path
									d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61   c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239   C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z" />
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
							</g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
						</svg>
						<svg id="cross" xmlns="http://www.w3.org/2000/svg" height="35" width="35"
							style="stroke:#e80e48;opacity:0;" viewBox="0 0 24 24" stroke-width="2"
							stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
							<line x1="18" y1="6" x2="6" y2="18" />
							<line x1="6" y1="6" x2="18" y2="18" />
						</svg>
					</div>
					<div style="width: 40vw;padding-left: 20px;padding-right: 20px;margin-left: auto;margin-right: auto;"
						class="mt-2 mb-2 d-flex align-items-start">
						<label for="Adresse" class="labelForm mt-2">Adresse :</label>
						<textarea class="textAreaForm form-control" name="Adresse" id="Adresse" v-model="Adresse"
							placeholder="Adresse"></textarea>
						<img src="./image/eye.png" @click="handleDisabled" title="enable" class="iconForm eye" />
					</div>
					<svg style="border-radius:75%;cursor: pointer;margin-left: auto;box-sizing: content-box;margin-top:20px;padding:7px;background-color: #007bff;border:0px solid #007bff; margin-right: auto;"
						id="addClientLigne" @click="addClientLigne" xmlns="http://www.w3.org/2000/svg" width="40"
						height="40" fill="white" class="bi bi-plus" viewBox="0 0 16 16">
						<path
							d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
				</div>

				<div class="B3" id="docSide">
					<div class="BB" style="margin-bottom: 20px;">
						<h5>Détails du document</h5>
					</div>
					<div style="width: 40vw;padding-left: 20px;padding-right: 20px;margin-left: auto;margin-right: auto;"
						class="mt-2 mb-2 d-flex align-items-center">
						<label for="DC" class="labelForm">Date de création : </label>
						<input type="date" class="form-control inputForm" name="DC" id="DC" v-model="DC"/>
						<img src="./image/eye.png" @click="handleDisabled" title="enable" class="iconForm eye" />
					</div>
					<div style="width: 40vw;padding-left: 20px;padding-right: 20px;margin-left: auto;margin-right: auto;"
						class="mt-2 mb-2 d-flex align-items-center">
						<label for="DE" class="labelForm">Date d'échéance : </label>
						<input type="date" class="form-control inputForm" name="DE" id="DE" v-model="DE"/>
						<img src="./image/eye.png" @click="handleDisabled" title="enable" class="iconForm eye" />
					</div>
					<svg style="border-radius:75%;cursor: pointer;margin-left: auto;box-sizing: content-box;margin-top:20px;padding:7px;background-color: #007bff;border:0px solid #007bff; margin-right: auto;"
						id="addDocLigne" @click="addDocLigne" xmlns="http://www.w3.org/2000/svg" width="40" height="40"
						fill="white" class="bi bi-plus" viewBox="0 0 16 16">
						<path
							d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
					</svg>
				</div>
			</div>
			<br />
			<div
				style="background-color:white;padding:30px;border-radius:15px;box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.137);">
				<div>
					<table class="mt-5 table table-bordered" id="myTable">
						<thead>
							<tr class="bg-light">
								<th class="text-center">Référence</th>
								<th class="text-center">Désignation</th>
								<th class="text-center">Quantité</th>
								<th class="text-center">Prix unitaire</th>
								<th class="text-center">TVA</th>
								<th class="text-center" style="flex-wrap: nowrap;">Total HT</th>
								<th></th>
							</tr>
						</thead>
						<tbody id="custom_select_result">
							
						</tbody>
					</table>
					<div class="text-center btn_custom_select">
						<button style="white-space: nowrap;" id="toogleMenu" @click="handleMenu" type="button"
							class="btn btn-primary btnForm mt-3">Ajouter une ligne<svg style="margin-left: 5px;"
								xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-caret-down-fill" viewBox="0 0 16 16">
								<path
									d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
							</svg>
						</button>
						<div class="hideMenu hideM" @click="closeMenu">
							<div id="B1" @click="addProduct" class="">Ajouter un produit</div>
							<div id="B2" @click="addText" class="">Ajouter du texte</div>
							<div id="B4" @click="addSep" class="">Ajouter un séparateur</div>
							<div id="B5" @click="addSousTotal" class="">Ajouter un sous-total</div>
						</div>
					</div>
				</div>

				<div style="justify-content: space-around;padding-top:40px;padding-left:40px;padding-right:40px;padding-bottom:20px;border-radius:15px;"
					class="d-flex mt-5">
					<div class="B35">
						<div style="width: 30vw" class="d-flex align-items-center">
							<table class="table table-bordered" id="tableResult">
								<tr class="bg-light">
									<td class="text-center">TVA</td>
									<td class="text-center">Base</td>
									<td class="text-center">Montant</td>
								</tr>
							</table>
						</div>
					</div>
					<div class="B35">
						<div style="width: 30vw" class="d-flex align-items-center">
							<table class="table table-bordered" id="tabOfTotal">
								<tr class="bg-light">
									<td>Total HT</td>
									<td id="TT1">0.000 DT </td>
								</tr>
								<tr>
									<td>Total TVA</td>
									<td id="TT2">0.000 DT </td>
								</tr>
								<tr class="bg-light">
									<td colspan="2" id="ajoutTimbre" @click="handleTimbre" class="timbre"
										style="font-weight: bold;"> +
										Ajouter le timbre fiscal </td>
								</tr>
								<tr>
									<td>Net à payer</td>
									<td id="finalResult">0.000 DT</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div style="justify-content: space-around;" class="d-flex mt-5">
				<div class="B3">
					<div class="BB">
						<h5 style="border: none;">INFORMATIONS DE L'ENTREPRISE</h5>
					</div>
					<div style="margin-left: auto;margin-right: auto;">
						<label for="INFORMATIONS" class="labelForm"> </label>
						<input type="text" style="width:35vw;" class="form-control form-control-lg inputForm"
							v-model="INFORMATIONS" name="INFORMATIONS" style="width: 100%" id="INFORMATIONS"
							placeholder="Société XYZ, 9 rue exemple, Tunis MF: 0000025 exemple@exemple.tn +216 26 999 999" />
					</div>
				</div>

				<div class="B3" style="justify-content: start;align-items: center;">
					<div class="BB">
						<h5 style="border: none;">INFORMATIONS BANCAIRES</h5>
					</div>
					<div style="width: 22vw" class="mt-2 mb-2 d-flex align-items-center">
						<label for="sociale" class="labelForm">Banque : </label>
						<input type="text" class="form-control inputForm" name="Banque" id="Banque" v-model="Banque"
							placeholder="Banque" />
					</div>

					<div style="width: 22vw" class="mt-2 mb-2 d-flex align-items-center">
						<label for="RIB" class="labelForm">RIB : </label>
						<input @input="verifyTNRIB" type="text" class="form-control inputForm" name="RIB" id="RIB" v-model="RIB"
							placeholder="0704 XXXX XXXX XXXX XXXX" />
							<svg id="verifyRIB" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
							version="1.1" id="Capa_1" x="0px" y="0px" height="25" width="25"
							style="fill:#20d43b;display: none;margin-left: 4px;" viewBox="0 0 288.941 288.941"
							style="enable-background:new 0 0 288.941 288.941;" xml:space="preserve">
							<g>
								<path
									d="M285.377,46.368c-4.74-4.704-12.439-4.704-17.179,0L96.309,217.114L20.734,142.61   c-4.74-4.704-12.439-4.704-17.179,0s-4.74,12.319,0,17.011l84.2,82.997c4.692,4.644,12.499,4.644,17.191,0l180.43-179.239   C290.129,58.687,290.129,51.06,285.377,46.368C280.637,41.664,290.129,51.06,285.377,46.368z" />
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
								<g></g>
							</g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
							<g></g>
						</svg>
						<svg id="crossRIB" xmlns="http://www.w3.org/2000/svg" height="35" width="35"
							style="stroke:#e80e48;opacity:0;" viewBox="0 0 24 24" stroke-width="2"
							stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
							<line x1="18" y1="6" x2="6" y2="18" />
							<line x1="6" y1="6" x2="18" y2="18" />
						</svg>
					</div>
				</div>
			</div>

			<div class="text-center mt-4" id="btns">
				<br>
				<!-- <button class="btn btn-primary mx-1" @click="setVal">Définir la valeur</button>
				<button class="btn btn-primary mx-1" @click="getVal">Obtenir de la valeur</button>
				<button class="btn btn-primary mx-1" @click="removeVal">Supprimer la valeur</button> -->
				<button class="btn btn-primary mx-1" @click="generatePDF" type="reset">Télécharger Votre PDF </button>
				<br>
				<br>
				<input class="btn btn-primary mx-1" type="file" id="jsonfileinput" @input="Import" />
				<button type="button" class="btn btn-primary mx-1" type="file" id="jsonfileexport" @click="Export" >Export JSON</button>
			</div>
		</form>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@mczen-technologies/tui"></script>
	<script src="https://cdn.jsdelivr.net/npm/@mczentechnologies/tnrib"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js"></script>
	<script>
		const app = Vue.createApp({
			data() {
				return {
					Facture: '',
					Referance: '',
					sociale: '',
					fiscale: '',
					Adresse: '',
					DC: '',
					DE: '',
					INFORMATIONS: '',
					tabref: '',
					product: '',
					Quantity: '',
					unitPrix: '',
					Property: '',
					Banque: '',
					RIB: '',
					textajout: '',
					label: '',
					toggleTimbre: false,
					image : null,
					jspdf: new window.jspdf.jsPDF()
				}
			},
			methods: {
				Export() {
					let fileName = 'client.json';
					let fileToSave = new Blob([JSON.stringify(JSON.parse(localStorage.fact)[0], null, 4)], {
						type: 'application/json',
						name: fileName
					});
					window.saveAs(fileToSave, fileName);
				},

				Import() {
					var file_to_read = document.getElementById("jsonfileinput").files[0];
					var fileread = new FileReader();
					fileread.onload = function (e) {
						var content = e.target.result;
						var intern = JSON.parse(content); // parse json 
						var old = JSON.parse(localStorage.fact)[0]
						old = intern
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
						window.location.reload()
					};
					fileread.readAsText(file_to_read);
				},

				verifyMatricule(e) {
					const verify = document.getElementById("verify")
					const cross = document.getElementById("cross")
					if (e.target.value) {
						if (new TUI(e.target.value).isValid()) {
							verify.style.display = "flex"
							cross.style.display = "none"
							cross.style.opacity = 1
						}
						else {
							verify.style.display = "none"
							cross.style.display = "flex"
							cross.style.opacity = 1
						}
					}
					else {
						cross.style.opacity = 0
						verify.style.display = "none"
						cross.style.display = "flex"
					}
				},
				verifyTNRIB(e) {
					const verify = document.getElementById("verifyRIB")
					const cross = document.getElementById("crossRIB")
					if (e.target.value) {
						if (new TNRIB(e.target.value).isValid()) {
							verify.style.display = "flex"
							cross.style.display = "none"
							cross.style.opacity = 1
						}
						else {
							verify.style.display = "none"
							cross.style.display = "flex"
							cross.style.opacity = 1
						}
					}
					else {
						cross.style.opacity = 0
						verify.style.display = "none"
						cross.style.display = "flex"
					}
				},
				deleteLigne(element) {
					element.parentNode.removeChild(element);
				},
				 calculer() {
					var ProduitS = 1.00
					var Quantity = document.getElementById("Quantity").value
					var unitPrix = document.getElementById("unitPrix").value
					var des =document.getElementById("product").value
					var ref =document.getElementById("tabref").value 
					var TVA = document.getElementById("choixTVA").value
					document.getElementById("T1").innerHTML = TVA + "%"
					ProduitS = parseFloat(Quantity * unitPrix).toFixed(3)
					//Forumle TVA
					var A1 = 1.00
					A1 = TVA * ProduitS
					var Base = 1.00;
					Base = parseFloat(A1 / 100).toFixed(3)
					//APPEL
					document.getElementById("S1").innerHTML = ProduitS + " DT"
					document.getElementById("T2").innerHTML = ProduitS + " DT"
					document.getElementById("T3").innerHTML = Base + " DT"
					this.calculTotalAfterChange()
					this.calculTVAAfterChange()
					this.calculTotaux()
					this.calculSousTotal()
				},
				handleDisabled(e) {
					if (e.target.title == "enable") {
						e.target.title = "disable"
						e.target.src = "./image/hidden.png"
						e.target.parentNode.children[0].style.opacity = 0.4
						e.target.parentNode.children[1].disabled = true
					}
					else {
						e.target.title = "enable"
						e.target.src = "./image/eye.png"
						e.target.parentNode.children[0].style.opacity = 1
						e.target.parentNode.children[1].disabled = false
					}
				},
				handleDisabledImage(e) {
					const image = document.getElementById("Logo")
					const input = document.getElementById("imageInput")
					if (e.target.title == "enable") {
						e.target.title = "disable"
						e.target.src = "./image/hidden.png"
						image.style.opacity = "0.3"
						input.disabled = true
					}
					else {
						e.target.title = "enable"
						e.target.src = "./image/eye.png"
						image.style.opacity = "1"
						input.disabled = false
					}
				},
				handleTimbre(e) {
					var timbreValue = "0.600"
					if (e.target.innerText == "- Timbre fiscal") {
						e.target.innerText = "+ Ajouter le timbre fiscal"
						e.target.style.textAlign = "center"
						e.target.colSpan = "2"
						e.target.parentNode.children[1].style.display = "none"
						this.calculTotaux()
					}
					else {
						e.target.innerText = "- Timbre fiscal"
						e.target.style.textAlign = "left"
						e.target.colSpan = "1"
						if (e.target.parentNode.children[1]) {
							e.target.parentNode.children[1].style.display = "flex"
						}
						else {
							const td = document.createElement("td")
							td.innerText = timbreValue + " DT"
							e.target.parentNode.appendChild(td)
						}
						this.calculTotaux(0.6)
					}
				},
				handleMenu() {
					document.querySelector(".hideMenu").classList.toggle("hideM")
				},
				addProduct(e = null , ref = "" , des = "" , quantity = 0 , prixUni = 0 , Tva = 0 , total= "0.000 DT" , id2 = null) {
					var id = id2 || this.generateID(5)
					if (!id2) {
						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = [...(old.ligneFactures), {
							id: id,
							type: "PROD",
							ref: ref , 
							des : des , 
							quantity : quantity , 
							prixUni : prixUni , 
							tva : Tva , 
							total : total , 
						}]
						var table = JSON.parse(localStorage.fact)
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					
					const container = document.getElementById("custom_select_result")
					const container2 = document.createElement("tr")
					const tr = document.createElement("tr")
					const td = document.createElement("td")
					const image = document.createElement("img")
					image.src = "./image/delete.png"
					image.classList.add("iconForm", "eye")
					td.appendChild(image)
					tr.appendChild(td)


					/*td input reference*/
					const tdRef = document.createElement("td")
					const inputRef = document.createElement("input")
					inputRef.classList.add("form-control")
					inputRef.placeholder = "Référence"
					tdRef.appendChild(inputRef)
					inputRef.value=ref
					inputRef.oninput=(e)=>{
						var old = JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id === id)[0]
						old.ref =  e.target.value
						var old2 = []
						JSON.parse(localStorage.fact)[0].ligneFactures.forEach((element) => {
							if (element.id != id) {
								old2.push(element)
							}
							else {
								old2.push(old)
							}
						})
						const hold = JSON.parse(localStorage.fact)[0]
						hold.ligneFactures = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					/*td input PS*/
					const tdPS = document.createElement("td")
					const inputPS = document.createElement("input")
					inputPS.classList.add("form-control")
					inputPS.placeholder = "Produit / Service"
					tdPS.appendChild(inputPS)
					inputPS.value = des
					inputPS.oninput = (e) => {
						var old = JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id === id)[0]
						old.des = e.target.value
						var old2 = []
						JSON.parse(localStorage.fact)[0].ligneFactures.forEach((element) => {
							if (element.id != id) {
								old2.push(element)
							}
							else {
								old2.push(old)
							}
						})
						const hold = JSON.parse(localStorage.fact)[0]
						hold.ligneFactures = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					/*td input Quantity*/
					const tdQuantity = document.createElement("td")
					const inputQuantity = document.createElement("input")
					inputQuantity.type = "number"
					inputQuantity.classList.add("form-control")
					inputQuantity.style.width = "100px"
					inputQuantity.value = quantity 
					tdQuantity.appendChild(inputQuantity)
					/*td input Unitaire*/
					const tdUnitaire = document.createElement("td")
					const inputUnitaire = document.createElement("input")
					inputUnitaire.type = "number"
					inputUnitaire.classList.add("form-control")
					inputUnitaire.style.width = "170px"
					inputUnitaire.value = prixUni
					tdUnitaire.appendChild(inputUnitaire)
					/*td select*/
					const tdSelect = document.createElement("td")
					const select = document.createElement("select")
					select.classList.add("form-select")
					select.innerHTML = `<option value="0">0%</option>
                                    <option value="7">7%</option>
                                    <option value="13">13%</option>
                                    <option value="19">19%</option>`
					tdSelect.appendChild(select)
					const result = document.createElement("td")
					select.value= Tva
					/*result*/
					result.innerText = total
					container2.appendChild(tdRef)
					container2.appendChild(tdPS)
					container2.appendChild(tdQuantity)
					container2.appendChild(tdUnitaire)
					container2.appendChild(tdSelect)
					container2.appendChild(result)
					container2.appendChild(td)
					container.appendChild(container2)


					/*add to result */

					const tableResult = document.getElementById("tableResult")
					const trTableResult = document.createElement("tr")
					const tva = document.createElement("td")
					const base = document.createElement("td")
					const montant = document.createElement("td")
					tva.innerText = Tva+"%"
					base.innerText = total
					montant.innerText = parseFloat((select.value * inputUnitaire.value * inputQuantity.value) / 100).toFixed(3) + " DT"
					tva.classList.add("textCenter")
					base.classList.add("textCenter")
					montant.classList.add("textCenter")

					trTableResult.appendChild(tva)
					trTableResult.appendChild(base)
					trTableResult.appendChild(montant)
					tableResult.appendChild(trTableResult)
					select.oninput = () => {

						tva.innerText = select.value + "%"
						montant.innerText = parseFloat((select.value * inputUnitaire.value * inputQuantity.value) / 100).toFixed(3) + " DT"
						this.calculTVAAfterChange()
						this.calculTotaux()

						var old = JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id === id)[0]
						old.tva = select.value
						var old2 = []
						JSON.parse(localStorage.fact)[0].ligneFactures.forEach((element)=>{
							if(element.id!=id)
							{
								old2.push(element)
							}
							else 
							{
								old2.push(old)
							}
						})
						const hold = JSON.parse(localStorage.fact)[0]
						hold.ligneFactures = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					select.classList.add("form-control")
					inputUnitaire.oninput = (e) => {

						base.innerText = parseFloat(inputUnitaire.value * inputQuantity.value).toFixed(3) + " DT"
						montant.innerText = parseFloat((select.value * inputUnitaire.value * inputQuantity.value) / 100).toFixed(3) + " DT"
						result.innerText = parseFloat(inputUnitaire.value * inputQuantity.value).toFixed(3) + " DT"
						this.calculTotalAfterChange()
						this.calculTotaux()
						this.calculSousTotal()

						var old = JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id === id)[0]
						old.prixUni = e.target.value
						var old2 = []
						JSON.parse(localStorage.fact)[0].ligneFactures.forEach((element) => {
							if (element.id != id) {
								old2.push(element)
							}
							else {
								old2.push(old)
							}
						})
						var hold = JSON.parse(localStorage.fact)[0]
						hold.ligneFactures = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)

						localStorage.fact = JSON.stringify(table)
						var old = JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id === id)[0]
						old.total = result.innerText
						var old2 = []
						JSON.parse(localStorage.fact)[0].ligneFactures.forEach((element) => {
							if (element.id != id) {
								old2.push(element)
							}
							else {
								old2.push(old)
							}
						})
						var hold = JSON.parse(localStorage.fact)[0]
						hold.ligneFactures = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						console.log(table)
						localStorage.fact = JSON.stringify(table)
					}
					inputQuantity.oninput = (e) => {

						base.innerText = parseFloat(inputUnitaire.value * inputQuantity.value).toFixed(3) + " DT"
						montant.innerText = parseFloat((select.value * inputUnitaire.value * inputQuantity.value) / 100).toFixed(3) + " DT"
						result.innerText = parseFloat(inputUnitaire.value * inputQuantity.value).toFixed(3) + " DT"
						this.calculTotalAfterChange()
						this.calculTotaux()
						this.calculSousTotal()

						var old = JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id === id)[0]
						old.quantity = e.target.value
						var old2 = []
						JSON.parse(localStorage.fact)[0].ligneFactures.forEach((element) => {
							if (element.id != id) {
								old2.push(element)
							}
							else {
								old2.push(old)
							}
						})
						const hold = JSON.parse(localStorage.fact)[0]
						hold.ligneFactures = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					image.onclick = () => {
						container2.remove()
						trTableResult.remove()
						this.calculTotalAfterChange()
						this.calculTVAAfterChange()
						this.calculTotaux()
						this.calculSousTotal()

						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = old.ligneFactures.filter((element) => element.id != id)
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					this.calculSousTotal()
					this.calculTotalAfterChange()
					this.calculTVAAfterChange()
					this.calculTotaux()
				},
				calculTotaux(nbr = 0) {
					var result = 0
					const trTable = document.querySelectorAll("#tabOfTotal tr")
					trTable.forEach((element, index) => {
						const td = element.childNodes
						if (trTable.length - 1 != index) {
							if (index == 2) {
								if (nbr) {
									result += Number(td[1].innerText.split(" ")[0])
								}
							}
							else {
								result += Number(td[1].innerText.split(" ")[0])
							}
						}
					})
					document.getElementById("finalResult").innerHTML = parseFloat(result).toFixed(3) + " DT"
				},
				calculSousTotal() {
					const trs = document.querySelectorAll("#custom_select_result tr")
					var result = 0
				
					trs.forEach((element, index) => {
						const tds = element.childNodes
						if (tds[5]) {
							result += Number(tds[5].innerText.split(" ")[0])
						}
						else {
							if (tds[1].title == "st") {
								tds[2].innerText = parseFloat(result).toFixed(3) + " DT"
								result = 0
							}
						}
					})
				},
				calculTotalAfterChange() {
					const tableResult = document.getElementById("tableResult")
					const trTable = document.querySelectorAll("#tableResult tr")
					var result = 0
					trTable.forEach((element, index) => {
						if (index != 0) {
							const td = element.childNodes
							result += Number(td[1].innerText.split(" ")[0])
						}
					})
					document.getElementById("TT1").innerHTML = parseFloat(result).toFixed(3) + " DT"

					// const ajoutTimbre = document.getElementById("ajoutTimbre")
					// ajoutTimbre.innerText = "+ Ajouter le timbre fiscal"
					// ajoutTimbre.style.textAlign = "center"
					// ajoutTimbre.colSpan = "2"
					// ajoutTimbre.parentNode.children[1].style.display = "none"
				},
				calculTVAAfterChange() {
					const tableResult = document.getElementById("tableResult")
					const trTable = document.querySelectorAll("#tableResult tr")
					var result = 0
					trTable.forEach((element, index) => {
						if (index != 0) {
							const td = element.childNodes
							result += Number(td[2].innerText.split(" ")[0])
						}
					})
					document.getElementById("TT2").innerHTML = parseFloat(result).toFixed(3) + " DT"

					// const ajoutTimbre = document.getElementById("ajoutTimbre")
					// ajoutTimbre.innerText = "+ Ajouter le timbre fiscal"
					// ajoutTimbre.style.textAlign = "center"
					// ajoutTimbre.colSpan = "2"
					// ajoutTimbre.parentNode.children[1].style.display = "none"
				},
				addSep(e = null , id2 = null ) {
					var id = id2 || this.generateID(5)
					if(!id2)
					{
						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = [...(old.ligneFactures), {
							id: id,
							type: "SEP",
						}]
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					const container = document.getElementById("custom_select_result")
					const newElement = document.createElement("tr")
					const td1 = document.createElement("td")
					const td2 = document.createElement("td")
					td1.colSpan = "6"
					newElement.appendChild(td1)
					td1.classList.add("sep")
					td1.innerHTML = "<div></div>".trim()
					const image = document.createElement("img")
					image.src = "./image/delete.png"
					image.classList.add("iconForm", "eye")
					td2.appendChild(image)
					image.onclick = () => {
						newElement.remove()
						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = old.ligneFactures.filter((element) => element.id != id)
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					newElement.appendChild(td2)
					container.appendChild(newElement)
				},
				addText(e = null , value = "" , id2 = null) {
					var id = id2 || this.generateID(5)
					if (!id2) {
						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = [...(old.ligneFactures), {
							id: id,
							type: "TEXT",
							value : ""
						}]
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					const container = document.getElementById("custom_select_result")
					const newElement = document.createElement("tr")
					const td1 = document.createElement("td")
					const td2 = document.createElement("td")
					td1.colSpan = "6"
					newElement.appendChild(td1)
					const textA = document.createElement("textarea") 
					textA.value=value
					textA.oninput=(e)=>{
						var old = JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id === id)[0]
						old.value = e.target.value
						const old2 = [...JSON.parse(localStorage.fact)[0].ligneFactures.filter((element) => element.id != id), old]
						const hold = JSON.parse(localStorage.fact)[0]
						hold.ligneFactures = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					textA.classList.add("form-control","form-control-lg") 
					td1.appendChild(textA)
					newElement.appendChild(td2)
					const image = document.createElement("img")
					image.src = "./image/delete.png"
					image.onclick = () => {
						newElement.remove()
						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = old.ligneFactures.filter((element) => element.id != id)
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					td2.appendChild(image)
					image.classList.add("iconForm", "eye")
					container.appendChild(newElement)
				},
				addSousTotal(e = null,value = "0.000 DT" , id2 = null) {
					var id = id2 || this.generateID(5)
					if(!id2)
					{
						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = [...(old.ligneFactures), {
							id:id,
							type: "ST",
							value: value 
						}]
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					const container = document.getElementById("custom_select_result")
					const newElement = document.createElement("tr")
					const td1 = document.createElement("td")
					const td2 = document.createElement("td")
					const td3 = document.createElement("td")
					const td4 = document.createElement("td")
					td1.classList.add("sepGray")
					td2.classList.add("sepGray")
					td3.classList.add("sepGray")
					td1.colSpan = "4"
					newElement.appendChild(td1)
					td2.style.whiteSpace = "nowrap"
					td2.innerText = "Sous total: "
					td2.title = "st"
					newElement.appendChild(td2)
					td3.innerText = value
					newElement.appendChild(td3)
					const image = document.createElement("img")
					image.classList.add("iconForm", "eye")
					image.src = "./image/delete.png"
					image.onclick = () => {
						newElement.remove()
						const old = JSON.parse(localStorage.fact)[0]
						old.ligneFactures = old.ligneFactures.filter((element) => element.id != id)
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					td4.appendChild(image)
					td4.style.whiteSpace = "nowrap"
					newElement.appendChild(td4)
					container.appendChild(newElement)
					this.calculSousTotal()
				},
				generateID(number) {
					var id = ""
					for (let index = 0; index < number; index++) {
						id += parseInt(Math.random() * 10)
					}
					return id
				},
				autoAddClients() {
					const clientLignes = JSON.parse(localStorage.fact)[0].client
					clientLignes.forEach(element => {
						this.addClientLigne(null, element.key, element.value, element.id)
					});
				},
				autoAddDocuments() {
					const documentLignes = JSON.parse(localStorage.fact)[0].document
					documentLignes.forEach(element => {
						this.addDocLigne(null, element.key, element.value, element.id)
					});
				},
				addClientLigne(e = null, key = "", value = "", id2 = null) {
					const div = document.createElement("div")
					// const element = `<div style="width:40vw;padding-left: 20px;padding-right: 20px;margin-left:auto;margin-right:auto;" class="mt-2 mb-2 d-flex align-items-center">
					// <input placeholder="Label" class="form-control inputAdd" type="text" />
					// <input type="text" class="form-control inputForm inputAdd2" id="label" name="label" />
					// <img class="iconForm"/>
					// </div>`


					var id = id2 || this.generateID(5)
					if (!id2) {
						const old = JSON.parse(localStorage.fact)[0]
						old.client = [...(old.client), {
							id: id,
							key: "",
							value: ""
						}]
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}

					const container = document.createElement("div")
					container.style.width = "40vw"
					container.style.paddingLeft = "20px"
					container.style.paddingRight = "20px"
					container.style.marginLeft = "auto"
					container.style.marginRight = "auto"
					container.classList.add("mt-2", "mb-2", "d-flex", "align-items-center")
					const input1 = document.createElement("input")
					input1.oninput = (e) => {
						var old = JSON.parse(localStorage.fact)[0].client.filter((element) => element.id === id)[0]
						old.key = e.target.value
						const old2 = [...JSON.parse(localStorage.fact)[0].client.filter((element) => element.id != id), old]
						const hold = JSON.parse(localStorage.fact)[0]
						hold.client = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					input1.value = key
					input1.placeholder = "Label"
					input1.classList.add("form-control", "inputAdd")
					const input2 = document.createElement("input")
					input2.oninput = (e) => {
						var old = JSON.parse(localStorage.fact)[0].client.filter((element) => element.id === id)[0]
						old.value = e.target.value
						const old2 = [...JSON.parse(localStorage.fact)[0].client.filter((element) => element.id != id), old]
						const hold = JSON.parse(localStorage.fact)[0]
						hold.client = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					input2.value = value
					input2.placeholder = "Value"
					input2.classList.add("form-control", "inputForm", "inputAdd2")
					const image = document.createElement("img")
					image.src = "./image/minus.png"
					image.classList.add("iconForm")
					container.appendChild(input1)
					container.appendChild(input2)
					container.appendChild(image)
					image.onclick = () => {
						div.remove()
						const old = JSON.parse(localStorage.fact)[0]
						old.client = old.client.filter((element) => element.id != id)
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					div.style.marginLeft = "auto"
					div.style.marginRight = "auto"
					div.appendChild(container)
					const addClientLigne = document.getElementById("addClientLigne")
					addClientLigne.parentNode.insertBefore(div, addClientLigne)
				},
				addDocLigne(e = null, key = "", value = "", id2 = null) {
					const div = document.createElement("div")
					// const element = `<div style="width:40vw;padding-left: 20px;padding-right: 20px;margin-left:auto;margin-right:auto;" class="mt-2 mb-2 d-flex align-items-center">
					// <input placeholder="Label" class="form-control inputAdd" type="text" />
					// <input type="text" class="form-control inputForm inputAdd2" id="label" name="label" />
					// <img class="iconForm"/>
					// </div>`

					var id = id2 || this.generateID(5)
					if (!id2) {
						const old = JSON.parse(localStorage.fact)[0]
						old.document = [...(old.document), {
							id: id,
							key: "",
							value: ""
						}]
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					const container = document.createElement("div")
					container.style.width = "40vw"
					container.style.paddingLeft = "20px"
					container.style.paddingRight = "20px"
					container.style.marginLeft = "auto"
					container.style.marginRight = "auto"
					container.classList.add("mt-2", "mb-2", "d-flex", "align-items-center")
					const input1 = document.createElement("input")
					input1.value = key
					input1.oninput = (e) => {
						var old = JSON.parse(localStorage.fact)[0].document.filter((element) => element.id === id)[0]
						old.key = e.target.value
						const old2 = [...JSON.parse(localStorage.fact)[0].document.filter((element) => element.id != id), old]
						const hold = JSON.parse(localStorage.fact)[0]
						hold.document = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					input1.classList.add("form-control", "inputAdd")
					input1.placeholder = "Label"
					const input2 = document.createElement("input")
					input2.value = value
					input2.oninput = (e) => {
						var old = JSON.parse(localStorage.fact)[0].document.filter((element) => element.id === id)[0]
						old.value = e.target.value
						const old2 = [...JSON.parse(localStorage.fact)[0].document.filter((element) => element.id != id), old]
						const hold = JSON.parse(localStorage.fact)[0]
						hold.document = old2
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, hold)
						localStorage.fact = JSON.stringify(table)
					}
					input2.classList.add("form-control", "inputForm", "inputAdd2")
					input2.placeholder = "Value"
					const image = document.createElement("img")
					image.src = "./image/minus.png"
					image.classList.add("iconForm")
					container.appendChild(input1)
					container.appendChild(input2)
					container.appendChild(image)
					image.onclick = () => {
						div.remove()
						const old = JSON.parse(localStorage.fact)[0]
						old.document = old.document.filter((element) => element.id != id)
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
					}
					div.style.marginLeft = "auto"
					div.style.marginRight = "auto"
					div.appendChild(container)
					const addDocBtn = document.getElementById("addDocLigne")
					addDocBtn.parentNode.insertBefore(div, addDocBtn)
				},
				removeC(e) {
					element.parentNode.parentNode.style.display = "none"
				},

				closeMenu(label) {
					document.querySelector(".hideMenu").classList.add("hideM")
					if (label == "Ajouter un produit") addProduct()
					else if (label == "Ajouter un séparateur") addSep()
					else if (label == "Ajouter du texte") addText()
					else if (label == "Ajouter un sous-total") addSousTotal()
				},

				DateToday() {
					document.getElementById('DC').value = new Date().toISOString().substring(0, 10);
				},

				TriggerClick() {
					const inputImage = document.getElementById("imageInput")
					inputImage.click()
				},
				HandleInput() {
					const inputImage = document.getElementById("imageInput")
					const logo = document.getElementById("Logo")
					const defaultImage = "./image/logo.jpg"
					if (inputImage.files[0]) {
						if (inputImage.files[0].type.indexOf("png") == -1 && inputImage.files[0].type.indexOf("jpg") == -1 && inputImage.files[0].type.indexOf("jpeg") == -1) {
							logo.src = defaultImage
							document.querySelector(".deleteIconPhoto").classList.add("hideM")
							inputImage.value = ""
						}
						else {
							document.querySelector(".deleteIconPhoto").classList.remove("hideM")
							const old = JSON.parse(localStorage.fact)[0]

							const reader = new FileReader();
							reader.onload = (event) => {
								old.logo  = event.target.result;
								logo.src = event.target.result
								var table = JSON.parse(localStorage.fact);
								table.splice(0, 1, old)
								localStorage.fact = JSON.stringify(table)
							}
							var table = JSON.parse(localStorage.fact);
							table.splice(0, 1, old)
							localStorage.fact = JSON.stringify(table)
							reader.readAsDataURL(inputImage.files[0])
						}
					}
					else {
						logo.src = defaultImage
						document.querySelector(".deleteIconPhoto").classList.add("hideM")
						const old = JSON.parse(localStorage.fact)[0]
						old.logo = ""
						var table = JSON.parse(localStorage.fact);
						table.splice(0, 1, old)
						localStorage.fact = JSON.stringify(table)
						
					}

				},
				deleteImage() {
					const inputImage = document.getElementById("imageInput")
					const logo = document.getElementById("Logo")
					const defaultImage = "./image/logo.jpg"
					logo.src = defaultImage
					document.querySelector(".deleteIconPhoto").classList.add("hideM")
					inputImage.value = ""
					const old = JSON.parse(localStorage.fact)[0]
					old.logo = ""
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				generatePDF() {
					const html2PDF = window.html2PDF
					/*remove*/
					const descs = document.getElementById("descs")
					descs.classList.toggle("hideM")
					const btns = document.getElementById("btns")
					btns.classList.toggle("hideM")
					document.body.style.backgroundColor = "white"
					const addClientLigne = document.getElementById("addClientLigne")
					addClientLigne.classList.toggle("hideM")
					const addDocLigne = document.getElementById("addDocLigne")
					addDocLigne.classList.toggle("hideM")
					const toogleMenu = document.getElementById("toogleMenu")
					toogleMenu.classList.toggle("hideM")
					const minus = document.querySelectorAll(".iconForm")
					minus.forEach(element => {
						element.classList.toggle("hideM")
					});
					/*options*/
					const opt = {
						margin: 1,
						filename: 'myfile.pdf',
						image: { type: 'jpeg', quality: 0.98 },
						html2canvas: { scale: 2 },
						jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
					}
					html2PDF(document.body, opt).then(() => {
						descs.classList.toggle("hideM")
						btns.classList.toggle("hideM")
						document.body.style.backgroundColor = ""
						addClientLigne.classList.toggle("hideM")
						addDocLigne.classList.toggle("hideM")
						toogleMenu.classList.toggle("hideM")
						minus.forEach(element => {
							element.classList.toggle("hideM")
						});

					})
				},


			},

			mounted() {
				if (localStorage.fact) {
					if (JSON.parse(localStorage.fact)[0].logo) {
						const logo = document.getElementById("Logo")
						logo.src = `${JSON.parse(localStorage.fact)[0].logo}`
						document.querySelector(".deleteIconPhoto").classList.remove("hideM")
					}
					if (JSON.parse(localStorage.fact)[0].client) {
						this.autoAddClients()
					}
					if (JSON.parse(localStorage.fact)[0].document) {
						this.autoAddDocuments()
					}

					if(JSON.parse(localStorage.fact)[0].ligneFactures)
					{
						JSON.parse(localStorage.fact)[0].ligneFactures.forEach((element)=>{
							if(element.type=="ST")
							{
								this.addSousTotal(null,element.value,element.id)
							}
							else if(element.type=="PROD")
							{
								this.addProduct(null, element.ref, element.des, element.quantity, element.prixUni, element.tva, element.total, element.id)
							}
							else if(element.type == "SEP")
							{
								this.addSep(null ,element.id)
							}
							else if(element.type=="TEXT")
							{
								this.addText(null , element.value , element.id)
							}
						})
					}

					if (JSON.parse(localStorage.fact)[0].Facture) {
						this.Facture = JSON.parse(localStorage.fact)[0].Facture
					}
					if (JSON.parse(localStorage.fact)[0].Referance) {
						this.Referance = JSON.parse(localStorage.fact)[0].Referance
					}
					if (JSON.parse(localStorage.fact)[0].sociale) {
						this.sociale = JSON.parse(localStorage.fact)[0].sociale
					}
					if (JSON.parse(localStorage.fact)[0].fiscale) {
						this.fiscale = JSON.parse(localStorage.fact)[0].fiscale
					}
					if (JSON.parse(localStorage.fact)[0].Adresse) {
						this.Adresse = JSON.parse(localStorage.fact)[0].Adresse
					}
					if (JSON.parse(localStorage.fact)[0].DC) {
						this.DC = JSON.parse(localStorage.fact)[0].DC
					}
					if (JSON.parse(localStorage.fact)[0].DE) {
						this.DE = JSON.parse(localStorage.fact)[0].DE
					}
					if (JSON.parse(localStorage.fact)[0].INFORMATIONS) {
						this.INFORMATIONS = JSON.parse(localStorage.fact)[0].INFORMATIONS
					}
					if (JSON.parse(localStorage.fact)[0].Banque) {
						this.Banque = JSON.parse(localStorage.fact)[0].Banque
					}
					if (JSON.parse(localStorage.fact)[0].RIB) {
						this.RIB = JSON.parse(localStorage.fact)[0].RIB
					}
					//Champs Ajouter :
					if (JSON.parse(localStorage.fact)[0].label) {
						this.label = JSON.parse(localStorage.fact)[0].label
					}
					if (JSON.parse(localStorage.fact)[0].tabref) {
						this.tabref = JSON.parse(localStorage.fact)[0].tabref
					}
					if (JSON.parse(localStorage.fact)[0].product) {
						this.product = JSON.parse(localStorage.fact)[0].product
					}
					if (JSON.parse(localStorage.fact)[0].Quantity) {
						this.Quantity = JSON.parse(localStorage.fact)[0].Quantity
					}
					if (JSON.parse(localStorage.fact)[0].unitPrix) {
						this.unitPrix = JSON.parse(localStorage.fact)[0].unitPrix
					}
					if (JSON.parse(localStorage.fact)[0].Property) {
						this.Property = JSON.parse(localStorage.fact)[0].Property
					}
					if (JSON.parse(localStorage.fact)[0].textajout) {
						this.textajout = JSON.parse(localStorage.fact)[0].textajout
					}
				}
				else {
					localStorage.fact = JSON.stringify([{ "document": [], "client": [] , "ligneFactures" : [] }])
				}
			},
			watch: {
				Facture(newFacture) {
					const old = JSON.parse(localStorage.fact)[0]
					old.Facture = newFacture
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				Referance(newReferance) {
					const old = JSON.parse(localStorage.fact)[0]
					old.Referance = newReferance
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				sociale(newsociale) {
					const old = JSON.parse(localStorage.fact)[0]
					old.sociale = newsociale
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				fiscale(newfiscale) {
					const old = JSON.parse(localStorage.fact)[0]
					old.fiscale = newfiscale
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				Adresse(newAdresse) {
					const old = JSON.parse(localStorage.fact)[0]
					old.Adresse = newAdresse
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				DC(newDC) {
					const old = JSON.parse(localStorage.fact)[0]
					old.DC = newDC
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				DE(newDE) {
					const old = JSON.parse(localStorage.fact)[0]
					old.DE = newDE
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				INFORMATIONS(newINFORMATIONS) {
					const old = JSON.parse(localStorage.fact)[0]
					old.INFORMATIONS = newINFORMATIONS
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				Banque(newBanque) {
					const old = JSON.parse(localStorage.fact)[0]
					old.Banque = newBanque
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				RIB(newRIB) {
					const old = JSON.parse(localStorage.fact)[0]
					old.RIB = newRIB
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				label(newlabel) {
					const old = JSON.parse(localStorage.fact)[0]
					old.label = newlabel
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				tabref(newtabref) {
					const old = JSON.parse(localStorage.fact)[0]
					old.tabref = newtabref
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				product(newproduct) {
					const old = JSON.parse(localStorage.fact)[0]
					old.product = newproduct
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				Quantity(newQuantity) {
					const old = JSON.parse(localStorage.fact)[0]
					old.Quantity = newQuantity
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				unitPrix(newunitPrix) {
					const old = JSON.parse(localStorage.fact)[0]
					old.unitPrix = newunitPrix
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				Property(newProperty) {
					const old = JSON.parse(localStorage.fact)[0]
					old.Property = newProperty
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},
				textajout(newtextajout) {
					const old = JSON.parse(localStorage.fact)[0]
					old.textajout = newtextajout
					var table = JSON.parse(localStorage.fact);
					table.splice(0, 1, old)
					localStorage.fact = JSON.stringify(table)
				},

			}
		})

		app.mount('#app')

	</script>

	<style>
		.flex-parent {
			display: flex;
		}

		.textCenter {
			text-align: center;
		}

		.jc-center {
			justify-content: center;
		}

		button.margin-right {
			margin-right: 20px;
		}

		.deleteIconPhoto {
			height: 20px;
			width: 20px;
			z-index: 50;
			cursor: pointer;
			position: relative;
			right: 27px;
			bottom: 100px;
		}

		.inputAdd {
			width: 40%;
			margin-right: 8px;
		}

		.inputAdd2 {
			width: 60%;
		}

		.hideMenu {
			/* display: none; */
			position: absolute;
			z-index: 20;
			background-color: white;
			margin-top: 57px;
			border: 1px solid rgba(0, 0, 0, 0.178);
			padding-top: 7px;
			padding-bottom: 7px;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: #4e66f8;
			width: 220px;
		}

		.sep {
			height: 50px;
		}

		.sepGray {
			height: 50px;
			background-color: #21252918;
		}

		/* background-color: #21252918; */
		.sep div {
			height: 7px;
			width: 97%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 9px;
			background-color: rgb(30, 123, 209);
		}

		.hideM {
			display: none;
		}

		.hideMenu div {
			padding-top: 5px;
			padding-bottom: 5px;
			width: 100%;
			border: 0 solid transparent;
		}

		.btn_custom_select {
			width: min-content;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-left: auto;
			margin-right: auto;
		}

		.hideMenu div:hover {
			background-color: rgb(183, 201, 243);
			color: black;
		}

		.iconForm {
			height: 27px;
			margin-left: 5px;
			width: 27px;
			cursor: pointer;
		}

		.timbre {
			text-align: center;
			cursor: pointer;
		}

		.timbre:hover {
			text-decoration: underline;
		}

		.center {
			margin-left: auto;
			margin-right: auto;
			border-collapse: collapse;
			text-indent: initial;
			border-spacing: 2px;
		}

		option {
			font-size: 20px;
		}

		table {
			border-collapse: collapse;
			text-indent: initial;
			border-spacing: 2px;
		}

		.form-style-9 {
			width: 90vw;
			margin: 50px auto;
		}

		body {
			margin: 0;
			font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
				"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
				"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			text-align: left;
			background-color: whitesmoke;
		}

		.logo {
			transition: box-shadow .3s !important;
			width: 270px !important;
			height: 240px !important;
			border-radius: 10px !important;
			border: 3px solid #4e66f8 !important;
			background: #fff;
			cursor: pointer;
		}

		.B2 {
			margin-left: auto;
		}

		.B3 {
			display: flex;
			flex-direction: column;
			align-items: start;
			background-color: white;
			box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.11);
			height: min-content;
			border-radius: 15px;
			padding-bottom: 30px;
			width: 42vw;
		}

		.B35 {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: min-content;
			border-radius: 15px;
			width: 42vw;
		}

		.BB {
			height: 50px;
			background-color: #007bff;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 20px;
		}

		.BB h5 {
			width: 100%;
			margin-top: 5px;
			text-align: center;
			color: white;
		}

		.B33 {
			display: flex;
			flex-direction: column;
			align-items: start;
			background-color: white;
			box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.11);
			padding: 30px;
			height: min-content;
			border-radius: 15px;
		}

		.BB {
			border-radius: 15px 15px 0 0;
			width: 100%;
			text-align: left;
			font-weight: bold;
		}

		.labelForm {
			margin-right: auto;
			white-space: nowrap;
		}

		.inputForm {
			width: 70%;
			margin-left: 3px;
		}

		.textAreaForm {
			resize: vertical;
			width: 70%;
		}

		.btnForm {
			color: #fff;
			background-color: #007bff;
			border-color: #007bff;
			box-shadow: 0 2px 2px rgb(78 102 248 / 20%) !important;
		}

		.blueLigne {
			height: 4px;
			background-color: #4e66f8;
			width: 100%;
		}
	</style>
</body>

</html>